# Automake
Makefile.in
Makefile
.dirstamp

# Autoconf
/build-aux/
/autom4te.cache/
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/stamp-h1
/config.log
/config.status
/config.guess
/config.sub

# Libtool
/libtool
/ltmain.sh
/m4/libtool.m4
/m4/ltoptions.m4
/m4/ltversion.m4
/m4/lt~obsolete.m4
/m4/ltsugar.m4
.deps/
.libs/
*.la
*.lo

# KDE Dolphin
.directory

# AC_CONFIG_FILES
opencl_test.sh
polybench_test.sh

# Make
*.o
/gitversion.h
/ppcg

/test-driver
/test-suite.log
/opencl_test.log
/opencl_test.trs
